* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: sans-serif;
}

.contenedor {
    max-width: 1000px;
    margin: 25px auto 0 auto;
}

.row {
    display: flex;
    justify-content: space-between;
    gap: 70px;
}

.col h2 {
    font-size: 2rem;
    margin-bottom: 4px
}

.regis-title {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 15px;

}

.boton {
    align-self: center;
    margin-top: 10px;
    font-size: 1rem;
    background-color: #fff;
    padding: 1px 8px;
    border: 3px solid #000;
    box-shadow: 4px 3px 0px #000;
    cursor: pointer;
    transition: background-color 0.2s;
}

.boton:hover {
    background-color: #d1d1d1;
    transition: background-color 0.2s;
}

.parte {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 7px;
}

.input-box {
    max-width: 80px;
    border: 3px solid #000;
    padding: 4px 0;
}

.regis-title {
    width: 220px;
}

table,
th,
td {
    border: 2px solid #000;
    border-bottom: none;
    border-top: none;
    border-collapse: collapse;
}

th {
    background-color: #ccc;
}

.data-gray {
    background-color: #eee;
}

.data-white {
    background-color: #fff;
}

table {
    border-top: 2px solid #000;
    border-bottom: 2px solid #000;
    text-align: left;
}

th,
td {
    padding: 0 15px 0 2px;
}

td {
    padding: 5px 3px;
}

.row {
    display: flex;
    justify-content: center;
}

.nuevo-user {
    margin: 0 0 11px 340px;
}

.bi {
    font-size: 1.5em;
}

.data-actions {
    border: none;
    display: flex;
    justify-content: space-between;
}

.select-box {
    border: 3px solid #000;
    padding: 4px 0;
}

.form-div {
    display: flex;
    justify-content: center;
}

.crear-user .parte {
    display: flex;
    gap: 24px;
}

.crear-user .boton {
    margin-top: 46px;
}

.crear-user .short-part {
    margin-right: 28px;
}

h1 {
    text-align: center;
}

.edit-user .parte {
    display: flex;
    gap: 24px;
}

.edit-user .boton {
    margin-top: 46px;
}

.edit-user .input-box {
    max-width: 200px;
    border: 3px solid #000;
    padding: 4px 0;
}

.edit-user .select-box {
    margin-right: 66px;
}

.user-table .data-actions {
    justify-content: center;
}

.bi {
    cursor: pointer;
}

.contenedor-mess {
    max-width: 500px;
    margin: 25px auto 0 auto;
}

.mess-h1 {
    text-align: left;
    margin-bottom: 12px;
}

.enviar-mensaje {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 16px;
}

.mess-box {
    border: 3px solid #000;
    padding: 0 2px;
    flex: 6;
}

.enviar-boton {
    margin: 0;
    padding: 2.5px 0;
    flex: 1;
}

.recent-mess {
    margin-top: 26px;
    display: flex;
    flex-direction: column;
    gap: 25px;
}

.link-recent {
    color: #2b78e4;
}

.comment-sect {
    margin: 15px 0 0 70px;
}

.comt-box {
    border: 3px solid #000;
    padding: 4px 2px;
    flex: 6;
}