<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>Pokédex</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <h1><img class="h-img" src="{{ url_for('static', filename='img/pokeball.png') }}">Pokédex</h1>
        <p>Todos los Pokémones</p>
        <nav>
            <a class="nav-btn btn-all" href="http://127.0.0.1:5000/pokemon"><i class="bi bi-list-ul"></i>Ver todos</a>
            <a class="nav-btn btn-five" href="http://127.0.0.1:5000/pokemon/cantidad/5"><i class="bi bi-funnel-fill"></i>Ver 5 primeros</a>
        </nav>
    </header>
    
    <main class="container">
        <div class="back-box">
            
        </div>
    </main>

    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>