<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>Pokedex</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <header>
        <img src="{{ url_for('static', filename='img/pokeball.png') }}">Pokédex
        <p>Todos los Pokémones</p>
    </header>
    <nav>
        <a href="http://127.0.0.1:5000/pokemon">Ver todos</button>
        <a href="http://127.0.0.1:5000/pokemon/cantidad/5">Ver 5 primeros</button>
    </nav>

    <script src="{{ url_for('static', filename='js/script.js') }}">
</body>

</html>