/* Resetear estilos */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/* Cuerpo de la página */

body {
    background-color: #f7f8fa;
    font-family: sans-serif;
}


/* Botónes */

button {
    cursor: pointer;
}


/* Barra de navegación */

nav {
    background-color: #4cae50;
    color: #fff;
}


/* Contenedor de la barra de navegación */

.nav-cont {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1040px;
    margin: 0 auto;
    padding: 10px 0;
}

.nav-left,
.nav-right {
    display: flex;
    align-items: center;
    gap: 10px;
}

h1 {
    font-size: 1.5rem;
}


/* Imagen del título */

nav img {
    width: 2rem;
}


/* Enlaces de la barra de navegación */

nav a {
    text-decoration: none;
    color: #fff;
}

nav a:hover {
    color: #d8e3e7;
}

.in-page {
    font-weight: bold;
}


/* Cabecera de la página */

header {
    background-color: #7b7b7c;
    color: #fff;
    text-align: center;
    margin-bottom: 50px;
}


/* Contenedor de la cabecera */

.h-cont {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    max-width: 1040px;
    margin: 0 auto;
    padding: 5rem 0;
    gap: 2px;
}

h2 {
    font-size: 2.5rem;
}

.h-cont p {
    font-size: 0.9rem;
}

.container {
    width: 1040px;
    margin: 0 auto;
    text-align: left;
}

.back-box {
    display: flex;
    justify-content: space-between;
}

.column {
    background-color: #fbfbfc;
    border: 1px solid #eaebed;
    border-radius: 8px;
}

.card {
    margin: 10px;
    border: 1px solid #eaebed;
    background-color: #fbfbfc;
    border-radius: 8px;
    padding: 2px;
}

.up-part {
    border-bottom: 1px solid #eaebed;
    padding: 6px;
}

.card-img-bg {
    background-color: #f5f7f9;
    border-bottom: 1px solid #eaebed;
    display: flex;
    justify-content: center;
    padding: 17px;
}

.card-img-bg img {
    max-width: 80px;
}

.card-desc {
    padding: 8px 12px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.card-price {
    color: #54b258;
    font-weight: bold;
    font-size: 0.9rem;
}

.fruit-desc {
    font-size: 0.7rem;
    color: #575757;
}

.fruit-cant {
    margin-top: 13px;
    display: flex;
    justify-content: center;
}

.card-button {
    background-color: #eaebed;
    border: none;
    font-weight: bold;
    font-size: 1rem;
    padding: 4px 10px;
    border-radius: 6px;
}

.cant-int {
    padding: 2px 8px;
    border: none;
    border: 1px solid #eaebed;
    border-left: none;
    padding: 0 32px;
    border-right: none;
}

.c-button-l {
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
}

.c-button-r {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}