/* Gradiente del header */

.gradiente-header {
    background: linear-gradient(135deg, #3e3d58 10%, #2c2b44 50%, #27263e 100%);
}

.bi-moon-fill {
    background-color: #8225E1;
    padding: 8px 14px;
    border-radius: 100px;
}

.bi-brightness-high-fill {
    background-color: #ffbe33;
    padding: 7px 13px;
    border-radius: 100px;
}

.container {
    max-width: 500px;
}

.header-parrafo {
    font-size: 0.8rem;
}

.grupos-form div {
    background-color: #fff;
}

form {
    max-width: 430px;
}

.grupos-form input {
    border: none !important;
}

.caja-inferior {
    background-color: #f2f2f3;
}

.notice {
    font-size: 0.7rem;
    color: #969696;
}

.img {
    max-width: 8rem;
}

.enviar {
    background: linear-gradient(135deg, #882ae2 10%, #6a15e1 50%, #4d02e0 100%);
    border: none;
    font-size: 0.9rem;
}