/* Resetear estilos */

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}


/* Estilos generales */

body {
    background-color: #f8f9fa;
    font-family: sans-serif;
}


/* Cabecera de la página */

header {
    text-align: center;
    margin-top: 30px;
}

h1 .bi {
    font-size: 1.8rem;
}

h1 {
    color: #0f6ffc;
    font-size: 2.1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
}

header p {
    font-size: 0.76rem;
    margin-top: 8px;
}


/* Contenedor */

.container {
    max-width: 810px;
    margin: 30px auto;
}


/* Fondo de la tabla */

.table-bg {
    background-color: #f9fafb;
    padding: 13px;
    box-shadow: 0px 0px 8px #00000070;
}


/* Tabla */

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff;
    margin: 0 0 27px 0;
}


/* Cabecera de la tabla */

.t-header {
    background-color: #252626;
}

th {
    color: #ffffff;
    font-weight: bold;
    font-size: 12px;
    text-align: left;
    padding: 10px 20px 10px 8px;
}

.t-name {
    display: flex;
    align-items: center;
    gap: 7px;
    font-weight: bold;
}


/* Datos de la tabla */

.t-data {
    border-bottom: 1px solid #f1f5f9;
}

td {
    padding: 6px 20px 6px 8px;
    font-size: 12px;
}


/* Columna del nombre */

td .t-name {
    display: flex;
    align-items: center;
    gap: 12px;
    font-weight: bold;
}

.t-name img {
    width: 24px;
    height: 24px;
    border-radius: 50%;
    object-fit: cover;
}


/* Cantidad de usuarios */

.t-users span {
    color: #ffffff;
    font-size: 10px;
    background-color: #007bff;
    padding: 3px 6px;
    border-radius: 6px;
    text-align: center;
}


/* CORRECCIÓN: Columna País (Estilo píldora gris integrado) */

.t-pais span {
    color: #ffffff;
    font-size: 10px;
    background-color: #6c757d;
    padding: 3px 6px;
    border-radius: 6px;
    text-align: center;
}


/* Link de detalles */

td a {
    border: 1px solid #0dfdff;
    padding: 5px 5px 3px 4px;
    border-radius: 4px;
    font-size: 9px;
    color: #0dfdff;
    text-decoration: none;
}


/* Cantidad de resultados mostrados */

.side-p {
    color: #000;
    text-align: right;
    font-size: 10px;
}