<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="donovansaez@liceovvh.cl">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Admin</title>
</head>

<body>
    <div class="contenedor">
        <table>
            <tr>
                <th>Nombre</th>
                <th>E-mail</th>
                <th>Tipo Usuario</th>
                <th>Acciones</th>
            </tr>
            <tr>
                <td>Patricia</td>
                <td>patricia@codingdojo.com</td>
                <td>Admin</td>
                <td class="data-actions"><i class="bi bi-pencil"></i><i class="bi bi-pencil"></i><i class="bi bi-envelope"></i></td>
            </tr>
            <tr>
                <td>Andrea</td>
                <td>andrea@codingdojo.com</td>
                <td>Usuario</td>
                <td class="data-actions"><i class="bi bi-pencil"></i><i class="bi bi-pencil"></i><i class="bi bi-envelope"></i></td>
            </tr>
            <tr>
                <td>Katya</td>
                <td>katya@codingdojo.com</td>
                <td>Usuario</td>
                <td class="data-actions"><i class="bi bi-pencil"></i><i class="bi bi-pencil"></i><i class="bi bi-envelope"></i></td>
            </tr>
        </table>
    </div>
</body>

</html>