<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="author" content="donovansaez@liceovvh.cl">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Editar</title>
</head>

<body>
    <main class="contenedor-mess">
        <h1 class="mess-h1"><span class="username">Andrea</span></h1>
        <h2><em>Mensajes a <span class="username">Andrea</span></em></h2>
        <form class="enviar-mensaje">
            <textarea class="mess-box" id="message" name="message"></textarea>
            <input class="boton enviar-boton" type="submit" value="Enviar">
        </form>
        <div class="recent-mess">
            <a href="#" class="link-recent">Mensaje de Katya, hace 5 horas</a>
            <p>Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Praesentium quis quibusdam facere repellat?
                Nemo, eligendi. Sed quasi ducimus nobis, velit laboriosam est</p>
        </div>
        <section class="comment-sect">
            <h2>Comentarios</h2>
            <div class="recent-comt">
                <a href="#" class="link-recent">Mensaje de Katya, hace 5 horas</a>
                <p>Lorem ipsum dolor sit amet consectetur
                    adipisicing elit. Praesentium quis quibusdam facere repellat?
                    Nemo, eligendi. Sed quasi ducimus nobis, velit laboriosam est</p>
            </div>
            <form class="enviar-mensaje">
                <input class="comt-box" type="text" id="message" name="message"></input>
                <input class="boton enviar-boton" type="submit" value="Enviar">
            </form>
        </section>
    </main>
</body>

</html>