[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pipenv = "*"
flask = "*"
pymysql = "*"
flask-bcrypt = "*"
bcrypt = "*"
python-dotenv = "*"
dotenv = "*"

[dev-packages]

[requires]
python_version = "3.14"
