<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Bootstrap icons -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.13.1/font/bootstrap-icons.min.css">
    <title>Plataformas digitales</title>
    <!-- Estilos CSS -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
    <!-- Cabecera de la página -->
    <header>
        <h1><i class="bi bi-table"></i> Plataformas digitales</h1>
        <p>Visualización de datos de las principales plataformas digitales</p>
    </header>

    <!-- Contenedor de la página -->
    <main class="container">
        <!-- Fondo de la tabla -->
        <div class="table-bg">
            <!-- Tabla -->
            <table>
                <!-- Cabecera de la tabla -->
                <tr class="t-header">
                    <th>Nombre</th>
                    <th>Usuarios</th>
                    <th>Año Fundación</th>
                    <th>País</th>
                    <th>Detalles</th>
                </tr>
                <!-- Otras filas de la tabla -->
                {% for dato in datos %}
                    <tr class="t-data">
                        <td class="t-name"><img src="{{ url_for('static', filename='images/' + dato.imagen) }}" alt="{{ dato.discord }}">{{ dato.nombre }}</td>
                        <td class="t-users"><span>{{ dato.usuarios }}</span></td>
                        <td>{{ dato.fundado }}</td>
                        <td class="t-pais"><span>{{ dato.pais }}</span></td>
                        <td class="t-info"><a href="#"><i class="bi bi-info-circle-fill"></i></td>
                    </tr>
                {% endfor %}
            </table>
            <p>Mostrando 7 resultados</p>
        </div>
    </main>

    <!-- Pié de página -->
    <footer>
        <div class="footer-cont">
            <p>Visualización de datos desarrollada con Flask y CSS</p>
            <p>Los datos mostrados son ficticios para fines educativos</p>
        </div>
    </footer>

    <!-- Script JS -->
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>

</html>